<% title "Exhibibits at: #{@location.name}".html_safe %>

<h3 class="artcatred"><%= yield(:title) %></h3>


<p><%= link_to "view more locations in #{@location.neighborhood.name}", @location.neighborhood, class: 'boldlink' %></p>

<ul>
<% for exhibit in @exhibits %>
  <li><%= link_to textilize_without_paragraph(exhibit.name), exhibit %>
  (<%= exhibit.start_date.strftime('%B %e') %>
  - <%= exhibit.end_date.strftime('%B %e, %Y') %>)
  <%= inline_pick_display(exhibit).html_safe %>
  </li>
<% end %>

