<% title "Exhibibits at: #{@location.name}" %>

<p><%= link_to "view more locations in #{@location.neighborhood.name}", @location.neighborhood, class: 'boldlink' %></p>

<% for exhibit in @exhibits %>
  <p class="show"><%= thumb_tag(exhibit) %>
  <%= link_to textilize_without_paragraph(exhibit.name), exhibit %> (<%= exhibit.start_date.strftime('%B %e') %>
   - <%= exhibit.end_date.strftime('%B %e, %Y') %>)
  <%= inline_pick_display(exhibit).html_safe %></p>
<% end %>

